<div class="container">
  <form class="countDownTimer">
    <h1 class="header2">Countdown Timer</h1>
    <div class="countDown">
      <input type="text" #todo class="form-control" placeholder="Enter Event Name" name="todo">
      <input type="text" #todo class="form-control" placeholder="Enter Event Date" name="todo">
      <div class="data">
        <p> {{Months}} Months</p>
        <p> {{Days}} Days</p>
        <p> {{Hours}} Hours</p>
        <p> {{Minutes}} Minutes</p>
        <p> {{Seconds}} Seconds</p>
      </div>
    </div>
  </form>
</div>
