.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  text-align: center;
  position: center;
  color: black;

}
.desc {
  font-family: Arial;
  font-size: 17px;
}

